[Unit]
Description=goimapnotify service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/go/bin/goimapnotify
Restart=on-failure
RestartSec=10
# It hanged once
TimeoutStopSec=5

[Install]
WantedBy=default.target
